table {
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #d3d9e2;
    table-layout: fixed;
}

#tableHead {
    background-color: #969995;
    color: white;
}

table, th, td {
    border: 1px solid black;
}

#taskInput {
    width: 30%;
    font-size: 14px;
}

#addTaskButton {
    font-size: 14px;
}

#addTaskButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
